# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Dependency directories
node_modules/
/ai/venv/
/ai/__pycache__/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Firebase
firebase_options.dart
service-account.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
